<!-- This is our page for the Shows Album -->

<div class="main-container continer-fluid">
<form>
  <div class="search">
    <input type="search" class="form-control input-sm" id="search-bar" placeholder="Search Shows...">
    <button id="searchButton" type="submit" class="btn btn-primary btn-sm">Find</button>
    </div>
</form>


  <div class="container-fluid showsAlbum" id="shows">
    
  </div>

