
<div class="main-container continer-fluid">
<form>
  <div class="form-group">
    <input type="search" class="form-control" id="search-bar" placeholder="Search Shows...">
    <button id="searchButton" type="submit" class="btn btn-danger">Find</button>
    </div>
</form>


  <div class="container-fluid showsAlbum" id="shows">
    
  </div>

