<% if (success.length > 0) { %>
	<div class="alert alert-success"><%= success %></div>
<% } %>


<div class="jumbotron text-center">
	<h1><%= theory.name %></h1>
	<p><%= theory.description %></p>
</div>