
      
    <div class="container content">
      

     
      <h1 class="my-4"><%= response.data.name  %></h1>

      
      <div class="row">
          <div class="col-md-4">
            <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2<%= response.data.poster_path %>" class="thumbnail">
          </div>
          <div class="col-md-8">
          
            <ul class="list-group">
              
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="well">
            <h3>Plot</h3>
            <%= response.data.overview %>
            <hr>
            
            <a href="/shows" class="btn btn-default">Go Back To Search</a>
            <a href="/theories/create" class="btn btn-default">Create Theory</a>
            <a href="/theories" class="btn btn-default">View Theories</a>
          </div>
        </div>


      




  
      
      <!-- /.row -->


